.home{
    background: linear-gradient(292.69deg, #065A31 0%, #00AC58 100%);
}
.burger {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.burger img{
    width: 50%;
    margin-bottom: 0px; /* Optional: add space from the bottom */
}

.m img{
    width: 80%;
    height:60%;
    margin-bottom: 0px; /* Optional: add space from the bottom */
}